<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title>Тройка!</title>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/dice.js') }}"></script>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <div class="content-overlay"></div>
    <div class="top-bar">
        <button class="menu-btn">☰</button>
        <img src="../static/images/logo.svg" alt="Тройка!" class="logo"
     onerror="this.onerror=null; this.src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgNTAiPjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iNTAiIGZpbGw9IiMzMzMiLz48dGV4dCB4PSI1MCUiIHk9IjUwJSIgZm9udC1zaXplPSIxNiIgZmlsbD0iI2ZmZiIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZHk9Ii4zZW0iPkxPR088L3RleHQ+PC9zdmc+'">
        <div style="flex-grow: 10;"></div>
        <img class="top-bar-button" id="roll" src="../static/images/dice.svg">
    </div>
    <nav class="side-menu"></nav>
    <div class="page">
        <div class="content">
            <article>
                <h1 id="page-title"></h1>
                <div id="content"></div>
            </article>
            <div id="navigation-buttons-container"></div>
        </div>
        <div class="page-footer">
            <p>© 2025 WishPort</p>
            <p>Сайт является независимым продуктом издательства WishPort и не связан с Melsonian Arts Council.</p>
            <p style="margin-block-end: 0px;">Разработка сайта – Миша Гордеев</p>
        </div>
    </div>
</body>
</html>